/ejemplo1/nbproject/private/
/ejemplo1/ejemplo1-war/nbproject/private/
/ejemplo1/ejemplo1-ejb/nbproject/private/
/ejemplo1/ejemplo1-war/dist/
/ejemplo1/ejemplo1-ejb/dist/
/ejemplo1/ejemplo1-ejb/build/
/ejemplo1/dist/
/ejemplo1/build/
/ejemplo1/ejemplo1-war/build/